.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.menu {
    width: 15rem;
}

.list-container {
    width: 100%;
    padding-top: 1px;
    text-align: center;
 }
 
 .list-container .mat-list-item {
    margin-top: -1px;
    height: 4rem;
    text-align: center;
 }

.content {
    margin-top: 10rem;
    margin-left: 25rem;
    align-items: center;
    color: blue;
}