<mat-sidenav-container class="main">
  <mat-sidenav class="menu" mode="side" opened>
    <div class="menu-logo rotate-center"><p class="rotate-center">Debbys Melo</p></div>
    <div class="list-container">
        <button mat-flat-button class="menu-item">Home</button>
        <button mat-flat-button class="menu-item">Creation</button>
        <button mat-flat-button class="menu-item">Branding</button>
        <button mat-flat-button class="menu-item">Editorial</button>
        <button mat-flat-button class="menu-item">Other</button>
        <button mat-flat-button class="menu-item">About Me</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
