@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

* {
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.App {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.MainRow{
  height: 100vh;
  width: 100vw;
  display: flex;
  max-width: 100%;
}

.LeftMenu{
  width: 100%;
  height: 100%;
  background: url(./components/MainArea/CapaHappyDog.png) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainArea{
  /* background: url(./components/MainArea/CapaHappyDog.png) no-repeat center / cover; */
  width: 55vw;
  height: 100vh;
  margin-left: -100%;
  background-color: rgb(14 14 14 / 75%);
  
}

.more{
  margin-left: 95vw;
  margin-top: -57vh;
  height: 135px;
  width: 20px;
  background-color: black;
  color: #ffe2e2;
  border-width: 5px;
  border: #52412b solid 3px;
  padding: 3px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
}

.LeftMenu p{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  margin-left: 12vw;
}

.LeftMenu h2{
  font-family: 'Lobster', cursive;
  margin-left: 12vw;
}

.LeftMenu h3{
  font-family: 'Lobster', cursive;
  margin-left: 12vw;
}

.MiniMenu{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 12vw;
  margin-top: 82vh;
}

/* .row1{
  width: 20px;
  height: 20px;
  background-color: aqua;
  border: 5px;
  border-color: black;
  border-radius: 1px;
} */

.row2{
  width: 20px;
  height: 20px;
  background-color: purple;
  border: 5px;
  border-color: black;
  border-radius: 1px;
}

.circle{
  width: 10px;
  height: 10px;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  margin: 5px;
}

.circleactive{
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255 / 0%);
  border: rgb(60, 60, 60) solid 2px;
  border-radius: 10px;
  margin: 5px;
}

.detailsContentOpened{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.detailsContent{
  background-color: #ffe2e2;
}

/* @media only screen and (max-width: 768px){
  .MainRow{
      flex-direction: column;
      margin: 0 20px;
  }
  .LeftMenu{
      width: 100%;
      height: 400px;
  }
  .MainArea{
      width: 90%;
      margin-left: 0;
      margin-top: -100px;
  }
} */

.mockup{
  height: 40vh;
  margin-top: -71vh;
  margin-bottom: 31vh;
  margin-left: 35vw;
}