<div style="text-align:center; margin-top: 100px; ">
    <mat-card style="margin-top:10px; width: 50%;">
            <mat-card-content>
                Example Card Content
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="warn" (click)="onClick()">
                    <mat-icon>file_upload</mat-icon>
                    Click Me
                </button>
            </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>
